In [1]:
#pickle读取速度快
import pickle
with open('data.pkl','rb') as file:
    train_data = pickle.load(file)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Sales per customer,Delivery Status,Late_delivery_risk,Category Id,Category Name,Customer City,...,Product Price,Product Status,shipping date (DateOrders),Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,order_month_year
0,DEBIT,3,4,91.250000,314.640015,Advance shipping,0,73,Sporting Goods,Caguas,...,327.750000,0,2/3/2018 22:56,Standard Class,CallyHolloway,2018,1,2,22,2018-01
1,TRANSFER,5,4,-249.089996,311.359985,Late delivery,1,73,Sporting Goods,Caguas,...,327.750000,0,1/18/2018 12:27,Standard Class,IreneLuna,2018,1,5,12,2018-01
2,CASH,4,4,-247.779999,309.720001,Shipping on time,0,73,Sporting Goods,San Jose,...,327.750000,0,1/17/2018 12:06,Standard Class,GillianMaldonado,2018,1,5,12,2018-01
3,DEBIT,3,4,22.860001,304.809998,Advance shipping,0,73,Sporting Goods,Los Angeles,...,327.750000,0,1/16/2018 11:45,Standard Class,TanaTate,2018,1,5,11,2018-01
4,PAYMENT,2,4,134.210007,298.250000,Advance shipping,0,73,Sporting Goods,Caguas,...,327.750000,0,1/15/2018 11:24,Standard Class,OrliHendricks,2018,1,5,11,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,399.980011,Shipping on time,0,45,Fishing,Brooklyn,...,399.980011,0,1/20/2016 3:40,Standard Class,MariaPeterson,2016,1,5,3,2016-01
180515,DEBIT,3,2,-613.770019,395.980011,Late delivery,1,45,Fishing,Bakersfield,...,399.980011,0,1/19/2016 1:34,Second Class,RonaldClark,2016,1,5,1,2016-01
180516,TRANSFER,5,4,141.110001,391.980011,Late delivery,1,45,Fishing,Bristol,...,399.980011,0,1/20/2016 21:00,Standard Class,JohnSmith,2016,1,4,21,2016-01
180517,PAYMENT,3,4,186.229996,387.980011,Advance shipping,0,45,Fishing,Caguas,...,399.980011,0,1/18/2016 20:18,Standard Class,MarySmith,2016,1,4,20,2016-01
180518,PAYMENT,4,4,168.949997,383.980011,Shipping on time,0,45,Fishing,Caguas,...,399.980011,0,1/19/2016 18:54,Standard Class,AndreaOrtega,2016,1,4,18,2016-01

In [2]:
#
import numpy as np
train_data['frand'] = np.where(train_data['Order Status'] == 'SUSPECTED_FRAUD',1,0)
train_data['frand']

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: frand, Length: 180519, dtype: int32

In [3]:
print(train_data['frand'].sum())#欺诈订单量

4062

In [4]:
train_data['Delivery Status'].value_counts()

Late delivery        98977
Advance shipping     41592
Shipping on time     32196
Shipping canceled     7754
Name: Delivery Status, dtype: int64

In [5]:
#对于迟交货订单进行预测，即Delivery Status= 'Late delivery'
train_data['Late delivery'] = np.where(train_data['Delivery Status'] == 'Late delivery',1,0)
train_data['Late delivery']

0         0
1         1
2         0
3         0
4         0
         ..
180514    0
180515    1
180516    1
180517    0
180518    0
Name: Late delivery, Length: 180519, dtype: int32

In [6]:
train_data.info()#object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180519 entries, 0 to 180518
Data columns (total 61 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   Type                           180519 non-null  object
 1   Days for shipping (real)       180519 non-null  int64
 2   Days for shipment (scheduled)  180519 non-null  int64
 3   Benefit per order              180519 non-null  float64
 4   Sales per customer             180519 non-null  float64
 5   Delivery Status                180519 non-null  object
 6   Late_delivery_risk             180519 non-null  int64
 7   Category Id                    180519 non-null  int64
 8   Category Name                  180519 non-null  object
 9   Customer City                  180519 non-null  object
 10  Customer Country               180519 non-null  object
 11  Customer Email                 180519 non-null  object
 12  Customer Fname                 180519 non-null  object
 13  Customer Id                    180519 non-null  int64
 14  Customer Lname                 180511 non-null  object
 15  Customer Password              180519 non-null  object
 16  Customer Segment               180519 non-null  object
 17  Customer State                 180519 non-null  object
 18  Customer Street                180519 non-null  object
 19  Customer Zipcode               180519 non-null  float64
 20  Department Id                  180519 non-null  int64
 21  Department Name                180519 non-null  object
 22  Latitude                       180519 non-null  float64
 23  Longitude                      180519 non-null  float64
 24  Market                         180519 non-null  object
 25  Order City                     180519 non-null  object
 26  Order Country                  180519 non-null  object
 27  Order Customer Id              180519 non-null  int64
 28  order date (DateOrders)        180519 non-null  datetime64[ns]
 29  Order Id                       180519 non-null  int64
 30  Order Item Cardprod Id         180519 non-null  int64
 31  Order Item Discount            180519 non-null  float64
 32  Order Item Discount Rate       180519 non-null  float64
 33  Order Item Id                  180519 non-null  int64
 34  Order Item Product Price       180519 non-null  float64
 35  Order Item Profit Ratio        180519 non-null  float64
 36  Order Item Quantity            180519 non-null  int64
 37  Sales                          180519 non-null  float64
 38  Order Item Total               180519 non-null  float64
 39  Order Profit Per Order         180519 non-null  float64
 40  Order Region                   180519 non-null  object
 41  Order State                    180519 non-null  object
 42  Order Status                   180519 non-null  object
 43  Order Zipcode                  24840 non-null   float64
 44  Product Card Id                180519 non-null  int64
 45  Product Category Id            180519 non-null  int64
 46  Product Description            0 non-null       float64
 47  Product Image                  180519 non-null  object
 48  Product Name                   180519 non-null  object
 49  Product Price                  180519 non-null  float64
 50  Product Status                 180519 non-null  int64
 51  shipping date (DateOrders)     180519 non-null  object
 52  Shipping Mode                  180519 non-null  object
 53  Customer Full Name             180511 non-null  object
 54  order_year                     180519 non-null  int64
 55  order_month                    180519 non-null  int64
 56  order_week_day                 180519 non-null  int64
 57  order_hour                     180519 non-null  int64
 58  order_month_year               180519 non-null  period[M]
 59  frand                          180519 non-null  int32
 60  Late delivery                  180519 non-null  int32
dtypes: datetime64[ns](1), float64(15), int32(2), int64(18), object(24), period[M](1)
memory usage: 82.6+ MB

In [7]:
#分类
cat_cols= train_data.select_dtypes(include='object').columns
cat_cols

Index(['Type', 'Delivery Status', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Order State',
       'Order Status', 'Product Image', 'Product Name',
       'shipping date (DateOrders)', 'Shipping Mode', 'Customer Full Name'],
      dtype='object')

In [8]:
train_data.columns

Index(['Type', 'Days for shipping (real)', 'Days for shipment (scheduled)',
       'Benefit per order', 'Sales per customer', 'Delivery Status',
       'Late_delivery_risk', 'Category Id', 'Category Name', 'Customer City',
       'Customer Country', 'Customer Email', 'Customer Fname', 'Customer Id',
       'Customer Lname', 'Customer Password', 'Customer Segment',
       'Customer State', 'Customer Street', 'Customer Zipcode',
       'Department Id', 'Department Name', 'Latitude', 'Longitude', 'Market',
       'Order City', 'Order Country', 'Order Customer Id',
       'order date (DateOrders)', 'Order Id', 'Order Item Cardprod Id',
       'Order Item Discount', 'Order Item Discount Rate', 'Order Item Id',
       'Order Item Product Price', 'Order Item Profit Ratio',
       'Order Item Quantity', 'Sales', 'Order Item Total',
       'Order Profit Per Order', 'Order Region', 'Order State', 'Order Status',
       'Order Zipcode', 'Product Card Id', 'Product Category Id',
       'Product Description', 'Product Image', 'Product Name', 'Product Price',
       'Product Status', 'shipping date (DateOrders)', 'Shipping Mode',
       'Customer Full Name', 'order_year', 'order_month', 'order_week_day',
       'order_hour', 'order_month_year', 'frand', 'Late delivery'],
      dtype='object')

In [9]:
#避免标签泄露
train_data.drop(['Order Status','Delivery Status','Late_delivery_risk'],axis=1,inplace=True)

In [10]:
#train_data['Customer Email'].value_counts()
#train_data['Customer Password'].value_counts()
for column in train_data.columns:
    if len(train_data[column].value_counts())<2:
        print(column)

Customer Email
Customer Password
Product Description
Product Status

In [11]:
train_data['Product Image'].value_counts()

http://images.acmesports.sports/Perfect+Fitness+Perfect+Rip+Deck                                 24515
http://images.acmesports.sports/Nike+Men%27s+CJ+Elite+2+TD+Football+Cleat                        22246
http://images.acmesports.sports/Nike+Men%27s+Dri-FIT+Victory+Golf+Polo                           21035
http://images.acmesports.sports/O%27Brien+Men%27s+Neoprene+Life+Vest                             19298
http://images.acmesports.sports/Field+%26+Stream+Sportsman+16+Gun+Fire+Safe                      17325
                                                                                                 ...
http://images.acmesports.sports/Stiga+Master+Series+ST3100+Competition+Indoor+Table+Tennis...       27
http://images.acmesports.sports/SOLE+E35+Elliptical                                                 15
http://images.acmesports.sports/Bushnell+Pro+X7+Jolt+Slope+Rangefinder                              11
http://images.acmesports.sports/Bowflex+SelectTech+1090+Dumbbells                                   10
http://images.acmesports.sports/SOLE+E25+Elliptical                                                 10
Name: Product Image, Length: 118, dtype: int64

In [12]:
train_data.drop(['Customer Email','Customer Password','Product Description',\
                'Product Status','Product Image','Customer Lname','Customer Fname'],axis=1,inplace=True)

In [13]:
len(train_data.columns)

51

In [14]:
#去掉一个方向的特征
train_data.drop(['Order Customer Id',
'Order Item Cardprod Id',
'Order Item Id',
'Sales per customer',
'Order Item Total',
'Order Profit Per Order',
'Product Card Id',
'Product Category Id',
'Product Price','order date (DateOrders)','order_month_year','Order State'],axis=1,inplace=True)

In [15]:
len(train_data.columns)

39

In [16]:
#显示所有列
import pandas as pd
pd.set_option('display.max_columns',None)
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Street,Customer Zipcode,Department Id,Department Name,Latitude,Longitude,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Order Zipcode,Product Name,shipping date (DateOrders),Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,frand,Late delivery
0,DEBIT,3,4,91.250000,73,Sporting Goods,Caguas,Puerto Rico,20755,Consumer,PR,5365 Noble Nectar Island,725.0,2,Fitness,18.251453,-66.037056,Pacific Asia,Bekasi,Indonesia,77202,13.110000,0.04,327.750000,0.29,1,327.750000,Southeast Asia,NaN,Smart watch,2/3/2018 22:56,Standard Class,CallyHolloway,2018,1,2,22,0,0
1,TRANSFER,5,4,-249.089996,73,Sporting Goods,Caguas,Puerto Rico,19492,Consumer,PR,2679 Rustic Loop,725.0,2,Fitness,18.279451,-66.037064,Pacific Asia,Bikaner,India,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,South Asia,NaN,Smart watch,1/18/2018 12:27,Standard Class,IreneLuna,2018,1,5,12,0,1
2,CASH,4,4,-247.779999,73,Sporting Goods,San Jose,EE. UU.,19491,Consumer,CA,8510 Round Bear Gate,95125.0,2,Fitness,37.292233,-121.881279,Pacific Asia,Bikaner,India,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,South Asia,NaN,Smart watch,1/17/2018 12:06,Standard Class,GillianMaldonado,2018,1,5,12,0,0
3,DEBIT,3,4,22.860001,73,Sporting Goods,Los Angeles,EE. UU.,19490,Home Office,CA,3200 Amber Bend,90027.0,2,Fitness,34.125946,-118.291016,Pacific Asia,Townsville,Australia,75937,22.940001,0.07,327.750000,0.08,1,327.750000,Oceania,NaN,Smart watch,1/16/2018 11:45,Standard Class,TanaTate,2018,1,5,11,0,0
4,PAYMENT,2,4,134.210007,73,Sporting Goods,Caguas,Puerto Rico,19489,Corporate,PR,8671 Iron Anchor Corners,725.0,2,Fitness,18.253769,-66.037048,Pacific Asia,Townsville,Australia,75936,29.500000,0.09,327.750000,0.45,1,327.750000,Oceania,NaN,Smart watch,1/15/2018 11:24,Standard Class,OrliHendricks,2018,1,5,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,4,4,40.000000,45,Fishing,Brooklyn,EE. UU.,1005,Home Office,NY,1322 Broad Glade,11207.0,7,Fan Shop,40.640930,-73.942711,Pacific Asia,Shanghái,China,26043,0.000000,0.00,399.980011,0.10,1,399.980011,Eastern Asia,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 3:40,Standard Class,MariaPeterson,2016,1,5,3,0,0
180515,DEBIT,3,2,-613.770019,45,Fishing,Bakersfield,EE. UU.,9141,Corporate,CA,7330 Broad Apple Moor,93304.0,7,Fan Shop,35.362545,-119.018700,Pacific Asia,Hirakata,Japón,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,Eastern Asia,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 1:34,Second Class,RonaldClark,2016,1,5,1,0,1
180516,TRANSFER,5,4,141.110001,45,Fishing,Bristol,EE. UU.,291,Corporate,CT,97 Burning Landing,6010.0,7,Fan Shop,41.629959,-72.967155,Pacific Asia,Adelaide,Australia,26024,8.000000,0.02,399.980011,0.36,1,399.980011,Oceania,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/20/2016 21:00,Standard Class,JohnSmith,2016,1,4,21,0,1
180517,PAYMENT,3,4,186.229996,45,Fishing,Caguas,Puerto Rico,2813,Consumer,PR,2585 Silent Autumn Landing,725.0,7,Fan Shop,18.213350,-66.370575,Pacific Asia,Adelaide,Australia,26022,12.000000,0.03,399.980011,0.48,1,399.980011,Oceania,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/18/2016 20:18,Standard Class,MarySmith,2016,1,4,20,0,0
180518,PAYMENT,4,4,168.949997,45,Fishing,Caguas,Puerto Rico,7547,Consumer,PR,697 Little Meadow,725.0,7,Fan Shop,18.290380,-66.370613,Pacific Asia,Nagercoil,India,26018,16.000000,0.04,399.980011,0.44,1,399.980011,South Asia,NaN,Field & Stream Sportsman 16 Gun Fire Safe,1/19/2016 18:54,Standard Class,AndreaOrtega,2016,1,4,18,0,0

In [17]:
train_data.drop(['Order Zipcode','shipping date (DateOrders)','Latitude','Longitude','Customer Street'],axis=1,inplace=True)

In [18]:
len(train_data.columns)

34

In [19]:
#查看分类类型
categorical_cols = train_data.select_dtypes(include='object').columns
categorical_cols

Index(['Type', 'Category Name', 'Customer City', 'Customer Country',
       'Customer Segment', 'Customer State', 'Department Name', 'Market',
       'Order City', 'Order Country', 'Order Region', 'Product Name',
       'Shipping Mode', 'Customer Full Name'],
      dtype='object')

In [20]:
train_data[categorical_cols]

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Name,Market,Order City,Order Country,Order Region,Product Name,Shipping Mode,Customer Full Name
0,DEBIT,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,Pacific Asia,Bekasi,Indonesia,Southeast Asia,Smart watch,Standard Class,CallyHolloway
1,TRANSFER,Sporting Goods,Caguas,Puerto Rico,Consumer,PR,Fitness,Pacific Asia,Bikaner,India,South Asia,Smart watch,Standard Class,IreneLuna
2,CASH,Sporting Goods,San Jose,EE. UU.,Consumer,CA,Fitness,Pacific Asia,Bikaner,India,South Asia,Smart watch,Standard Class,GillianMaldonado
3,DEBIT,Sporting Goods,Los Angeles,EE. UU.,Home Office,CA,Fitness,Pacific Asia,Townsville,Australia,Oceania,Smart watch,Standard Class,TanaTate
4,PAYMENT,Sporting Goods,Caguas,Puerto Rico,Corporate,PR,Fitness,Pacific Asia,Townsville,Australia,Oceania,Smart watch,Standard Class,OrliHendricks
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,CASH,Fishing,Brooklyn,EE. UU.,Home Office,NY,Fan Shop,Pacific Asia,Shanghái,China,Eastern Asia,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,MariaPeterson
180515,DEBIT,Fishing,Bakersfield,EE. UU.,Corporate,CA,Fan Shop,Pacific Asia,Hirakata,Japón,Eastern Asia,Field & Stream Sportsman 16 Gun Fire Safe,Second Class,RonaldClark
180516,TRANSFER,Fishing,Bristol,EE. UU.,Corporate,CT,Fan Shop,Pacific Asia,Adelaide,Australia,Oceania,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,JohnSmith
180517,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,Fan Shop,Pacific Asia,Adelaide,Australia,Oceania,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,MarySmith
180518,PAYMENT,Fishing,Caguas,Puerto Rico,Consumer,PR,Fan Shop,Pacific Asia,Nagercoil,India,South Asia,Field & Stream Sportsman 16 Gun Fire Safe,Standard Class,AndreaOrtega

In [21]:
train_data['Customer Full Name'].isnull().sum()

8

In [22]:
train_data = train_data.dropna(subset=['Customer Full Name'])

In [23]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
for cat in categorical_cols:
    train_data[cat] = le.fit_transform(train_data[cat])
train_data[categorical_cols]

<ipython-input-23-2d36791b8cca>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_data[cat] = le.fit_transform(train_data[cat])

,Type,Category Name,Customer City,Customer Country,Customer Segment,Customer State,Department Name,Market,Order City,Order Country,Order Region,Product Name,Shipping Mode,Customer Full Name
0,1,40,66,1,0,36,4,3,331,70,15,78,3,1875
1,3,40,66,1,0,36,4,3,391,69,13,78,3,5374
2,0,40,452,0,0,5,4,3,391,69,13,78,3,4426
3,1,40,285,0,2,5,4,3,3226,8,11,78,3,12922
4,2,40,66,1,1,36,4,3,3226,8,11,78,3,10632
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,18,59,0,2,31,3,3,2922,31,7,24,3,8421
180515,1,18,26,0,1,5,3,3,1362,77,7,24,2,11672
180516,3,18,55,0,1,7,3,3,25,8,11,24,3,6296
180517,2,18,66,1,0,36,3,3,25,8,11,24,3,9379
180518,2,18,66,1,0,36,3,3,2203,69,13,24,3,658

In [24]:
#得到所有数据类型
numerical_columns = train_data.columns.to_list()
for x in categorical_cols.to_list():
    numerical_columns.remove(x)
numerical_columns

['Days for shipping (real)',
 'Days for shipment (scheduled)',
 'Benefit per order',
 'Category Id',
 'Customer Id',
 'Customer Zipcode',
 'Department Id',
 'Order Id',
 'Order Item Discount',
 'Order Item Discount Rate',
 'Order Item Product Price',
 'Order Item Profit Ratio',
 'Order Item Quantity',
 'Sales',
 'order_year',
 'order_month',
 'order_week_day',
 'order_hour',
 'frand',
 'Late delivery']

In [25]:
#对于欺诈订单进行预测，即Order Status='SUSPECTED_FRAUD'
train_data['frand']

0         0
1         0
2         0
3         0
4         0
         ..
180514    0
180515    0
180516    0
180517    0
180518    0
Name: frand, Length: 180511, dtype: int32

In [26]:
train_data['Late delivery']

0         0
1         1
2         0
3         0
4         0
         ..
180514    0
180515    1
180516    1
180517    0
180518    0
Name: Late delivery, Length: 180511, dtype: int32

In [27]:
x_frand = train_data.loc[:,train_data.columns!='Late delivery']
y_frand = train_data['Late delivery']
x_frand

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Zipcode,Department Id,Department Name,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Product Name,Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,frand
0,1,3,4,91.250000,73,40,66,1,20755,0,36,725.0,2,4,3,331,70,77202,13.110000,0.04,327.750000,0.29,1,327.750000,15,78,3,1875,2018,1,2,22,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,36,725.0,2,4,3,391,69,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,13,78,3,5374,2018,1,5,12,0
2,0,4,4,-247.779999,73,40,452,0,19491,0,5,95125.0,2,4,3,391,69,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,13,78,3,4426,2018,1,5,12,0
3,1,3,4,22.860001,73,40,285,0,19490,2,5,90027.0,2,4,3,3226,8,75937,22.940001,0.07,327.750000,0.08,1,327.750000,11,78,3,12922,2018,1,5,11,0
4,2,2,4,134.210007,73,40,66,1,19489,1,36,725.0,2,4,3,3226,8,75936,29.500000,0.09,327.750000,0.45,1,327.750000,11,78,3,10632,2018,1,5,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,31,11207.0,7,3,3,2922,31,26043,0.000000,0.00,399.980011,0.10,1,399.980011,7,24,3,8421,2016,1,5,3,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,5,93304.0,7,3,3,1362,77,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,7,24,2,11672,2016,1,5,1,0
180516,3,5,4,141.110001,45,18,55,0,291,1,7,6010.0,7,3,3,25,8,26024,8.000000,0.02,399.980011,0.36,1,399.980011,11,24,3,6296,2016,1,4,21,0
180517,2,3,4,186.229996,45,18,66,1,2813,0,36,725.0,7,3,3,25,8,26022,12.000000,0.03,399.980011,0.48,1,399.980011,11,24,3,9379,2016,1,4,20,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,36,725.0,7,3,3,2203,69,26018,16.000000,0.04,399.980011,0.44,1,399.980011,13,24,3,658,2016,1,4,18,0

In [28]:
x_late = train_data.loc[:,train_data.columns!='frand']
y_late = train_data['frand']

In [29]:
#数据集切分
from sklearn.model_selection import train_test_split
x_frand_train,x_frand_test,y_frand_train,y_frand_test = train_test_split(x_frand,y_frand,test_size=0.2)
x_late_train,x_late_test,y_late_train,y_late_test = train_test_split(x_late,y_late,test_size=0.2)

In [30]:
#数据规范化
from sklearn.preprocessing import StandardScaler
sc  =StandardScaler()
x_frand_train = sc.fit_transform(x_frand_train)
x_frand_test = sc.transform(x_frand_test)
x_late_train = sc.fit_transform(x_late_train)
x_late_test = sc.transform(x_late_test)

In [34]:
#预测
#定义model
from sklearn.metrics import accuracy_score,roc_auc_score,f1_score,confusion_matrix,recall_score
def model_stats(model,x_train,x_test,y_train,y_test,name='Frand'):
    model = model.fit(x_train,y_train)
    y_pred = model.predict(x_test)
    accuracy = accuracy_score(y_pred,y_test)
    recall= recall_score(y_pred,y_test)
    auc = roc_auc_score(y_pred,y_test)
    f1 = f1_score(y_pred,y_test)
    confusion = confusion_matrix(y_pred,y_test)
    print('model:',model)
    print('{}accuracy:{}%'.format(name,accuracy*100))
    print('{}recall:{}%'.format(name,recall*100))
    print('{}auc:{}%'.format(name,auc*100))
    print('{}F1:{}%'.format(name,f1*100))
    print('{}confusion_matric:\n{}'.format(name,confusion))
    return accuracy,recall_score,f1
    
    #return model

In [32]:
train_data

,Type,Days for shipping (real),Days for shipment (scheduled),Benefit per order,Category Id,Category Name,Customer City,Customer Country,Customer Id,Customer Segment,Customer State,Customer Zipcode,Department Id,Department Name,Market,Order City,Order Country,Order Id,Order Item Discount,Order Item Discount Rate,Order Item Product Price,Order Item Profit Ratio,Order Item Quantity,Sales,Order Region,Product Name,Shipping Mode,Customer Full Name,order_year,order_month,order_week_day,order_hour,frand,Late delivery
0,1,3,4,91.250000,73,40,66,1,20755,0,36,725.0,2,4,3,331,70,77202,13.110000,0.04,327.750000,0.29,1,327.750000,15,78,3,1875,2018,1,2,22,0,0
1,3,5,4,-249.089996,73,40,66,1,19492,0,36,725.0,2,4,3,391,69,75939,16.389999,0.05,327.750000,-0.80,1,327.750000,13,78,3,5374,2018,1,5,12,0,1
2,0,4,4,-247.779999,73,40,452,0,19491,0,5,95125.0,2,4,3,391,69,75938,18.030001,0.06,327.750000,-0.80,1,327.750000,13,78,3,4426,2018,1,5,12,0,0
3,1,3,4,22.860001,73,40,285,0,19490,2,5,90027.0,2,4,3,3226,8,75937,22.940001,0.07,327.750000,0.08,1,327.750000,11,78,3,12922,2018,1,5,11,0,0
4,2,2,4,134.210007,73,40,66,1,19489,1,36,725.0,2,4,3,3226,8,75936,29.500000,0.09,327.750000,0.45,1,327.750000,11,78,3,10632,2018,1,5,11,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180514,0,4,4,40.000000,45,18,59,0,1005,2,31,11207.0,7,3,3,2922,31,26043,0.000000,0.00,399.980011,0.10,1,399.980011,7,24,3,8421,2016,1,5,3,0,0
180515,1,3,2,-613.770019,45,18,26,0,9141,1,5,93304.0,7,3,3,1362,77,26037,4.000000,0.01,399.980011,-1.55,1,399.980011,7,24,2,11672,2016,1,5,1,0,1
180516,3,5,4,141.110001,45,18,55,0,291,1,7,6010.0,7,3,3,25,8,26024,8.000000,0.02,399.980011,0.36,1,399.980011,11,24,3,6296,2016,1,4,21,0,1
180517,2,3,4,186.229996,45,18,66,1,2813,0,36,725.0,7,3,3,25,8,26022,12.000000,0.03,399.980011,0.48,1,399.980011,11,24,3,9379,2016,1,4,20,0,0
180518,2,4,4,168.949997,45,18,66,1,7547,0,36,725.0,7,3,3,2203,69,26018,16.000000,0.04,399.980011,0.44,1,399.980011,13,24,3,658,2016,1,4,18,0,0

In [35]:
from sklearn.linear_model import LogisticRegression
#逻辑回归模型
model_frand = LogisticRegression()
model_late = LogisticRegression()

model_stats(model_frand,x_frand_train,x_frand_test,y_frand_train,y_frand_test,'Frand')
model_stats(model_late,x_late_train,x_late_test,y_late_train,y_late_test,'Late Delivery')

model: LogisticRegression()
Frandaccuracy:98.75079633271473%
Frandrecall:97.7829122013568%
Frandauc:98.8914561006784%
FrandF1:98.87902965227549%
Frandconfusion_matric:
[[15761     0]
 [  451 19891]]
model: LogisticRegression()
Late Deliveryaccuracy:97.98908677949201%
Late Deliveryrecall:57.18954248366013%
Late Deliveryauc:77.7636960120622%
Late DeliveryF1:32.52788104089219%
Late Deliveryconfusion_matric:
[[35202   595]
 [  131   175]]

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

(0.9798908677949201,
 <function sklearn.metrics._classification.recall_score(y_true, y_pred, *, labels=None, pos_label=1, average='binary', sample_weight=None, zero_division='warn')>,
 0.32527881040892187)